*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('pic1.jpg');
    background-size: cover;
    height: 10vh;
    background-position: center;
    opacity: 80%;
}
.container{
   
    text-decoration: none;
    background-color: white;
    
}
.container-fluid li{
    display: inline;
}